body
{
    margin: 0px;
    background-color: rgb(156, 178, 187);
    color: black;
}
.header
{
    background-color: cornflowerblue;
    border-radius: 5px;
    padding: 5px;
    margin-top: 1%;
}
.footer
{
    background-color: rgb(184, 138, 227);
    margin-left: 25%;
    padding: 30px;
    margin-bottom: 2%;
    text-align: center;
}
ul
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 25%;
    background-color: rgb(199, 188, 188);
    height: 100%;
    position: fixed;
    overflow: auto;
}
li a
{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
li a.active
{
    background-color: green;
    color: white;
}
li a:hover:not(.active)
{
    background-color: #555;
    color: white;
}
li a:hover
{
    background-color: rgb(3, 67, 3);
}
li a:active
{
    background-color: rgb(53, 53, 53);
    color: white;
}